@font-face
{
    font-family:Bont;
    font-display:auto;
    src:local("Bont-Regular"),
        url(../fonts/Bont/Bont-Regular.eot?iefix=) format("emebedded-opentype"),
        url(../fonts/Bont/Bont-Regular.woff2) format("woff2"),
        url(../fonts/Bont/Bont-Regular.woff) format("woff"),
        url(../fonts/Bont/Bont-Regular.ttf) format("truetype"),
        url(../fonts/Bont/Bont-Regular.svg#Bont-Regular) format("svg");
        font-weight:400;
        font-style:normal;
}
@font-face
{
    font-family:Bont;
    font-display:auto;
    src:local("Bont-SemiBold"),
        url(../fonts/Bont/Bont-SemiBold.eot?iefix=) format("emebedded-opentype"),
        url(../fonts/Bont/Bont-SemiBold.woff2) format("woff2"),
        url(../fonts/Bont/Bont-SemiBold.woff) format("woff"),
        url(../fonts/Bont/Bont-SemiBold.ttf) format("truetype"),
        url(../fonts/Bont/Bont-SemiBold.svg#Bont-SemiBold) format("svg");
        font-weight:600;
        font-style:normal
}
@font-face
{
    font-family:Bont;
    font-display:auto;
    src: local("Bont-Bold"),
        url(../fonts/Bont/Bont-Bold.eot?iefix=) format("emebedded-opentype"),
        url(../fonts/Bont/Bont-Bold.woff2) format("woff2"),
        url(../fonts/Bont/Bont-Bold.woff) format("woff"),
        url(../fonts/Bont/Bont-Bold.ttf) format("truetype"),
        url(../fonts/Bont/Bont-Bold.svg#Bont-Bold) format("svg");
    font-weight:700;
    font-style:normal
}

.kt-aside-menu-wrapper .kt-menu__link-text{font-size: 16px !important;font-weight: bolder!important}
body {direction: rtl; font-family: 'Bont', sans-serif;}

img {max-width: 100%;}

#IntroVideo {max-width: 100%;}

.col {text-align: right;}

.kt-checkbox {text-align: right; padding-left: 0; padding-right: 30px;}

.kt-checkbox > span {left:auto; right:0;}

.kt-portlet .kt-portlet__body {text-align: right;}



@media (min-width: 1025px) {

  .kt-aside--fixed .kt-aside {left: auto; right: 0;}

  .kt-aside--enabled .kt-header.kt-header--fixed {left: 0; right: 255px;}

  .kt-aside--fixed .kt-wrapper {padding-left:0; padding-right:255px;}

}

.kt-menu__ver-arrow.la.la-angle-right:before {content: "\f111";}

.kt-user-card.kt-user-card--skin-dark .kt-user-card__name, .kt-notification .kt-notification__item .kt-notification__item-details {text-align:right;}



.report_box {padding: 10px; border-radius: 5px; background: #06156b; color: white; font-size: 20px; margin-bottom: 15px;}

.report_box p:last-child {margin-bottom: 0; text-align: left; font-size: 13px;}

.kt-aside__brand-logo img {height: 87px; width: auto;}
.user_logout{
    display: none !important;
}
@media (max-width: 1024px)
{
    .user_logout{
        display: block !important;
    }
    .user_logout button{
        background: #051360;
    border: #051360;
    color: #ffff;
    font-size: 20px;
    padding: 2px 16px 7px 38px;
    }
}
.pre_line_pr {white-space: pre-line;}
