/* .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor {background: #1a1a1a;} */

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    background-color: gray;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container 
.kt-form .kt-login__actions .kt-login__btn-primary, .kt-login.kt-login--v2 
.kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
    border-color: #000000;
    color: #000000;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container 
.kt-form .kt-login__actions .kt-login__btn-primary:hover {
    background-color: #000000;
    color: #ffffff;
}

.kt-login__logo img {
    height: 71px;
}
