@font-face
{
    font-family:Adobe-Arabic;
    font-display:auto;
    src:local("Adobe-Arabic"),
        url(../fonts/Adobe-Arabic/Adobe-Arabic.ttf) format("truetype"),
        font-weight: 600;
        font-style:normal,
}

body {
    font-family: Adobe-Arabic;
}

.main_header7 {
    padding: 0;
}

.main_header7_inner {
    padding: 0px 150px;
}

.logo img {
    max-width: 160px;
}

.sub_menu li.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
    z-index: 1000;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    right:100%;
    min-width: 220px;
    margin-top: -6px;
    padding: 24px 20px;
    border-radius: 0;
    z-index: 5000;
    text-align: right !important;
}

.mini_cart {
    z-index: 1000;
}

.search_five {
    border-color: #c1c1c1;
}

.section_title6 {
    text-align: center;
}

.about_section {
    direction: rtl;
}

.about-image {
    text-align: center;
}

.categories-button-container {
    margin-top: 50px;
    text-align: center;
}
.categories-button {
    border: 0;
    font-size: 16px;
    margin-left: 20px;
    background: #000000;
    height: 42px;
    line-height: 42px;
    text-transform: capitalize;
    min-width: 270px;
    color: #ffffff;
    text-align: right;
}
.categories-button:hover {
    background-color: #c1c1c1;
}

.custom_product_area .col-md-3 {
    margin-top: 25px;
    text-align: center;
}
.custom_product_area .col-md-3 img {
    margin-bottom: 15px;
}

#scrollUp {
    background-color: #c1c1c1;
}

.product-page-area {
    direction: rtl;
}
.product-page-area h1 {
    direction: ltr;
}

.color_six .subscribe_form form button {
    background-color: #000000;
}
.color_six .subscribe_form form button:hover {
    background-color: #c1c1c1;
}

.color_six .search_box button {
    background-color: #000000;
}
.color_six .search_box button:hover {
    background-color: #c1c1c1;
}

.search_box button {
    background-color: #000000;
}
.search_box button:hover {
    background-color: #c1c1c1;
}

.color_six .main_menu nav > ul > li:hover > a {
    color: #c1c1c1;
}
.color_six .main_menu nav > ul > li > a.active {
    color: #c1c1c1;
}

.offcanvas_main_menu li a:hover {
    color: #c1c1c1;
}

.color_six .slider_area .owl-dots .owl-dot.active {
    background: #c1c1c1;
    border-color: #c1c1c1;
}
.color_six .slider_area .owl-dots .owl-dot:hover {
    background: #c1c1c1;
    border-color: #c1c1c1;
}
.color_six .product_content h4 a:hover {
    color: #c1c1c1;
}
.color_six .price_box span.current_price {
    color: #666565;
}

.color_six .cart_button a:hover {
    background: #c1c1c1;
    border-color: #c1c1c1;
}

.cart_text {
    text-align: right;
}

.main_menu {
    direction: rtl;
    text-align: right !important;
}

.offcanvas_menu {
    direction: rtl;
    text-align: right !important;
}
.offcanvas_main_menu li span.menu-expand {
    position: absolute;
    left: 0 !important;
}
.offcanvas_main_menu li span.menu-expand i {
    position: absolute;
    left: 0 !important;
}
.offcanvas_main_menu > li.menu-item-has-children.menu-open > span.menu-expand {
    transform: rotate(0deg);
}
.offcanvas_main_menu > li ul li.menu-item-has-children.menu-open span.menu-expand {
    transform: rotate(0deg);
}

.search_box input {
    direction: rtl;
}

.sub_menu , .mega_menu_inner {
    text-align: right !important;
}

.main_menu nav > ul > li ul.sub_menu {
    left: auto;
    right: 0;
}

.main_menu nav > ul > li:last-child {
    margin-right: 37px;
}

.single_banner {
    text-align: right !important;
}

.product_carousel .product_thumb a img {
    height: 180px;
    width: 220px;
}

.price_box span.old_price {
    font-family: Tahoma;
}

.product_details .product_d_right h1 .gallery-title {
    background-color: #c1c1c1;
    color: #ffffff;
}

#zoom1 {
    display: block;
    margin: 0 auto;
}

footer {
    direction: rtl;
    border-top: 1px solid #c1c1c1;
}
.footer_logo img {
    width: 150px;
}
.widget_newsletter p {
    padding: 0;
}
.subscribe_form form input {
    padding: 0;
    padding-right: 75px;
}
.footer_payment {
    text-align: center;
}
.footer-social ul li a {
    font-size: 2em;
    color: #ffffff;
}
.subscribe_form form {
    border-color: #c1c1c1;
}


.breadcrumbs_area {
    direction: rtl;
    color: #ffffff;
}
.breadcrumb_content ul li::before {
    right: 70px;
}


.contact_area {
    direction: rtl;
}
.map-area iframe {
    height: 460px !important;
    width: 100% !important;
}

.about_signature {
    height: 200px;
    width: 250px;
    margin: 0 auto;
}


.customer_login {
    direction: rtl;
}
.form-horizontal {
    direction: rtl;
}
.account_form button {
    background-color: #c1c1c1;
}


.product_d_right {
    direction: rtl;
    text-align: right;
}
.price_box {
    direction: ltr;
}
.product_variant.quantity button {
    background-color: #000000;
}
.product_variant.quantity button:hover {
    background-color: #c1c1c1;
}
.product_d_info {
    direction: rtl;
    text-align: right;
}
.product_info_button ul li:last-child a {
    margin-left: 35px;
}
.widget_list > ul > li > a:hover {
    color: #c1c1c1;
}
.widget_list.widget_filter form button:hover {
    background: #c1c1c1;
}

.product_content h4 a:hover {
    color: #c1c1c1;
}
.price_box span.current_price {
    color: #666565;
}

.shop_wrapper {
    direction: rtl;
}
.shop_wrapper .single_product {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.product_items .single_product {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.product_thumb {
    padding-top: 15px;
}
.label_product span.label_sale , .label_product span.label_new {
    background: red;
}

.product_thumb a img {
    display: block;
    height: 180px;
    width: 236px;
    margin: 0 auto;
}

.sidebar_widget {
    direction: rtl;
    text-align: right;
}
#amount {
    width: 150px;
}

.color_six .action_links ul li a:hover {
    background: #c1c1c1;
    color: #fff;
}

.pagination ul li.active {
    background: #40A944;
    color: #ffffff;
}

.cat_img {
    display: block;
    height: 200px;
    width: 300px;
    margin: 20px auto;
}

.cat_img img {
    height: 200px;
    width: 300px;
}

.form-group {
    margin: 10px 0px;
}

.download-app-banner {
    direction: rtl;
    padding: 20px 30px;
    background-color: #444444;
    color: #ffffff;
}
.download-app-banner .right {
    text-align: left;
}

.add-success {
    cursor: pointer;
}

@media only screen and (min-width: 1350px) {
    .slider_height .single_slider {
        height: 600px;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .slider_height .single_slider {
        height: 300px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .main_header7_inner {
        padding: 0px;
    }

    .logo img {
        max-width: 120px;
        margin-top: 10px;
    }

    .slider_height .single_slider {
        height: 150px;
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    .slider_height .single_slider {
        height: 100px;
        width: 100%;
    }
}