@font-face
{
    font-family:Bont;
    font-display:auto;
    src:local("Bont-SemiBold"),
        url(../fonts/Bont/Bont-SemiBold.eot?iefix=) format("emebedded-opentype"),
        url(../fonts/Bont/Bont-SemiBold.woff2) format("woff2"),
        url(../fonts/Bont/Bont-SemiBold.woff) format("woff"),
        url(../fonts/Bont/Bont-SemiBold.ttf) format("truetype"),
        url(../fonts/Bont/Bont-SemiBold.svg#Bont-SemiBold) format("svg");
        font-weight:600;
        font-style:normal
}

.feature .feature__icon{
    right: 0px !important;
}
.feature .feature__content{
    padding-right: 100px !important;
    padding-left: 0px !important;
}

.single-service h3{
    text-align: right !important;
}

.single-service .icon{
    float: right;
    margin-left: 20px;
}

.fa-chevron-circle-right:before{
    content: "\f137" !important;
}

.accordion .accordion__title:after{
    right: 90% !important;
    left: 5% !important;
}
/*.slick-track{*/
/*    transform: translate3d(0, 0, 0);*/
/*}*/
.style-theme-blue .slider .slider__thumb{
    left: 0;
    /*right: 0;*/
}
.slider .slider__thumb{
    right: auto !important;
}
.title__heading{
    text-align: center;
    letter-spacing: normal;
}

.title__subtitle{
    text-align: center;
}

a, span, div, h1, h2, h3, h4 ,h5, h6, p, .single-service h3 {
    font-family: Bont;
}

.font-13 {
    font-size: 13pt;
}

.special-title {
    color: red;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    border-radius: 100px;
    border: 2px solid red;
    background: #fff;
    font-size: 25px;
}

#popup {
    padding-right: 0;
    top: 100px;
}

.popup-modal-header {
    height: 580px;
    background-image: url('../images/popup.png');
    background-repeat: no-repeat;
    background-size: cover;
}
    
@media only screen and (max-width: 767px) {
    * {
        font-family: Bont;
    }

    .special-title {
        margin-top: 50px;
    }

    .service-header p {
        padding-right: 89px;
    }
    
    .service-header p {
        padding-right: 89px;
    }

    .services-list .col-md-6 , .services-list .col-sm-6 {
        padding-bottom: 0;
    }

    .copyright , .font-13 {
        text-align: center !important;
    }

    .footer-widgets-area {
        margin-top: 25px;
        margin-bottom: 25px;
        height: 50px;
    }

    .footer__social-area {
        margin-right: 15%;
    }
    
    .mobile-logo {
        margin-left: 11%;
    }
    
    .popup-modal-header {
        height: 390px;
        width: 388px;
    }
}